<script>
mood = "Subjuntivo";
mood_des= new Array();
mood_des["Subjuntivo"]="Used to express everything except certainty and objectivity.";
mood_des["Indicativo"]="The verb mood used in ordinary, typical speech when making statements.";
mood_des["Condicional"]="Conditional.";
mood_des["Imperativo"]="imperative";




tense_type=new Array();
tense_type["Tiempos compuestos"]="Present";
tense_type["Tiempos simples"] = ""


function return_mood(div,arg){
	div.title=mood[arg];
}
// function return_tense(div,arg){
// 	div.title=tense[arg];
// }
// 
// function return_tense_type(div,arg){
// 	div.title=tense_type[arg];
// 
// }

function highlight_mood(div){
	document.getElementById('mood_explination').innerHTML=mood_des[div.innerHTML];
	child_divs = document.getElementById("moods").childNodes;
	for(var i = 0; i < child_divs.length; i++){
	 if (child_divs[i].nodeType==1){child_divs[i].style.color="black";}
	}
	div.style.color="blue";
	document.getElementById('tense_mood').value=div.innerHTML;
	document.getElementById('verb_mood').value=div.innerHTML;

	document.getElementById('mood_button').focus();
	document.getElementById('mood_button').click();
}


</script>
<div id ="moods" style="position:relative; display:inline;" >
<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Condicional</h2>
<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Imperativo</h2>
<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Indicativo</h2>
<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Subjuntivo</h2>
</div>

<div id="mood_explination" style="position:absolute;float:right;display:inline;width:50%;left:300px;top:50px">
 The subjunctive mood is used to express everything except certainty and objectivity: things like doubt, uncertainty, subjectivity, etc.
 It expresses a wish, intent or command for a possible action or state of being. It is usually used in subordinate clauses that begin with que or si.
</div>

<% form_tag tenses_path,:name=>"tense_form",:id=>'tense_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :tense_mood, params[:mood]%>
	<%= submit_tag "Search", :id=>"mood_button",:name => 'mood_button',:style=>"display:none;" %>
<%end%>

<% form_tag verbs_path,:name=>"verb_form",:id=>'verb_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :verb_mood, params[:mood]%>
	<%=hidden_field_tag :verb_tense, params[:tense]%>
	<%= submit_tag "Search", :id=>"verb_button",:name => 'verb_button',:style=>"display:none;" %>
<%end%>

<% form_tag results_path,:name=>"results_form",:id=>'results_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :search, params[:search]%>
	<%= submit_tag "Search", :id=>"results_button",:name => 'results_button',:style=>"display:none;" %>
<%end%>

<div id="tenses_div" style="position:relative;border:0;">
	<%= render :partial => "verbs/tenses", :object => @tenses  %>
</div>
<br>
<br>
<br>
<div id="verbs_div" style="position:relative;border:0;display:inline;float:left;">
	<%= render :partial => "verbs/verbs", :object => @verbs  %>
</div>
	
<div id ="results_div" style="position:relative;display:inline;float:right;width:70%;">
	<%= render :partial => "caps/results", :object => @caps  %>
</div>










<div id="examples" style="display:none;">
<ul> 
  <li><i>Quiero que no <b>tengas</b> fr&#237;o.</i> (I want you to be not cold.)</li> 
 
  <li><i>Siento que <b>tengas</b> fr&#237;o.</i> (I'm sorry you're cold.) The sentence expresses <b>the speaker's emotions</b> about a perceived reality. What is important in this sentence is the speaker's feelings, not whether the other person is cold.</li> 
 
  <li><i>Te doy mi chaqueta para que no <b>tengas</b> fr&#237;o.</i> (I'm giving you my coat so you won't be cold.) The sentence expresses the <b>speaker's intent</b>, not necessarily reality.</li> 
 
  <li><i>Se permite que <b>lleven</b> chaquetas all&#237;.</i> (People are allowed to wear jackets there.) The phrase <b>expresses permission</b> for an action to take place.</li> 
 
  <li><i>Di a ella que <b>lleve</b> una chaqueta.</i> (Tell her to wear her jacket.) Expresses a <b>command or wish</b> of the speaker.</li> 
 
  <li><i>No hay nadie que tenga fr&#237;o.</i> (Nobody is cold.) Expression of <a href="http://spanish.about.com/od/sentencestructure/a/negation.htm"><b>negation</b></a> of the action in a subordinate clause.</li> 
 
  <li><i>Tal vez <b>tenga</b> fr&#237;o.</i> (Perhaps he is cold.) This is an expression of <b>doubt</b>.</li> 
 
  <li><i>Si yo <b>fuera</b> un rico, tocar&#237;a el viol&#237;n.</i> (If I were a rich man, I would play the fiddle.) This is an expression of a statement <b>contrary to fact</b>.</li> 
</ul> 
 
<p>Here are some examples of sentences showing differences between the indicative and subjunctive.</p> 
 
<ul> 
  <li><b>Indicative:</b> <i>Es cierto que <b>sale</b> tarde.</i> (It is definitely leaving late.)</li> 
 
  <li><b>Subjunctive:</b> <i>Es imposible que <b>salga</b> tarde. Es probable que <b>salga</b> tarde.</i> It is impossible that it is leaving late. It is likely that it will leave late.</li> 
 
  <li><b>Explanation:</b> The indicative is used to express perceived reality, while the subjunctive is used to express doubt, negation or mere probability.</li> 
</ul> 
</div>



<div id="subjunctive" style="display:none;">
a menos que <br>
unless <br><br>

antes (de) que <br>
before <br><br>

con tal (de) que <br>
provided that <br><br>

cuando <br>
when <br><br>

conviene que <br>
it is advisable that <br><br>

después (de) que <br>
after <br><br>

dudar que <br>
to doubt that <br><br>

en caso de que <br>
in case <br><br>

en cuanto <br>
as soon as <br><br>

es aconsejable que <br>
it's advisable that <br><br>

es bueno que <br>
it's good that <br><br>

es difícil que <br>
it's unlikely that <br><br>

es dudoso que <br>
it is doubtful that <br><br>

es fácil que <br>
it's likely that <br><br>

es fantástico que <br>
it's fantastic that <br><br>

es importante que <br>
it's important that <br><br>

es imposible que <br>
it's impossible that <br><br>

es improbable que <br>
it's unlikely that <br><br>

es incierto que <br>
it's uncertain that <br><br>

es increíble que <br>
it's incredible that <br><br>

es (una) lástima que <br>
it's a pity that <br><br>

es malo que <br>
it's bad that <br><br>

es mejor que <br>
it's better that <br><br>

es menester que <br>
it's necessary that <br><br>

es necesario que <br>
it's necessary that <br><br>

esperar que <br>
to wish that <br><br>

es posible que <br>
it's possible that <br><br>

es preciso que <br>
it's necessary that <br><br>

es preferible que <br>
it's preferable that <br><br>

es probable que <br>
it's probable that <br><br>

es raro que <br>
it's rare that <br><br>

es ridículo que <br>
it's ridiculous that <br><br>

estar contento que
to be happy that <br><br>

es terrible que <br>
it's terrible that <br><br>

hasta que <br>
until <br><br>

insistir en que <br>
to insist that <br><br>

mandar que <br>
to order that <br><br>

más vale que <br>
it's better that <br><br>

mientras que <br>
while <br><br>

negar que <br>
to deny that <br><br>

no creer que <br>
not to believe that <br><br>

no es cierto que <br>
it's not certain that <br><br>

no estar convencido de que <br>
to not be convinced that <br><br>

no estar seguro de que <br>
to not be sure that <br><br>

no es verdad que <br>
it's not true that <br><br>

no imaginarse que <br>
to not imagine that <br><br>

no parecer que <br>
to not seem that <br><br>

no pensar que <br>
to not think that <br><br>

no suponer que <br>
to not suppose that <br><br>

ojalá que <br>
if only he would <br><br>

para que <br>
in order that <br><br>

pedir que <br>
to ask that <br><br>

preferir que <br>
to prefer that <br><br>

prohibir que <br>
to prohibit that <br><br>

puede ser que <br>
it may be that <br><br>

querer que <br>
to want that <br><br>

recomendar que <br>
to recommend that <br><br>

rogar que <br>
to plead that <br><br>

sentir que <br>
to regret that <br><br>

sin que <br>
without <br><br>

sugerir que <br>
to suggest that <br><br>

tan pronto como <br><br>
as soon as <br><br>

temer que <br>
to fear that <br><br>

tener miedo de que <br>
to be afraid that <br><br>
</div>