<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
    <%= javascript_include_tag "jquery.collapser.js"%>
<script>



$(document).ready(function(){

	$('#demo4').collapser({
		target: 'siblings',
		effect: 'fade',
		changeText: 0,
		expandClass: 'expIco',
		collapseClass: 'collIco'
	});
});


$(function(){
	setTimeout("$('#demo4').click()",4000);
	for(i=0;i<50;i++){
    	$("#instruction1").animate({color: "blue"}, 'slow');
        $("#instruction1").animate({color: "navy"}, 'slow');
	}
});

mood = "Subjuntivo";
mood_des= new Array();
mood_des["Subjuntivo"]="The subjunctive mood is used to express everything except certainty and objectivity: things like doubt, uncertainty, subjectivity, etc. It expresses a wish, intent or command for a possible action or state of being. It is usually used in subordinate clauses that begin with que or si.";
mood_des["Indicativo"]="The verb mood used in ordinary, typical speech when making statements.";
mood_des["Condicional"]="The conditional is frequently used to express probability, possibility, wonder or conjecture, and is usually translated as would, could, must have or probably.";
mood_des["Imperativo"]="The imperative mood expresses direct commands, requests, and prohibitions. In many circumstances, using the imperative mood may sound blunt or even rude, so it is often used with care.";
mood_des["Verboide"]="Verbs that are considered non-personal because they lack personal endings."



tense_type=new Array();
tense_type["Tiempos compuestos"]="Present";
tense_type["Tiempos simples"] = ""

	function light_verb(div){

		var pos = getPos(div);
//	    document.getElementById(id).style.left=(pos[0]+(document.getElementById(id+'_basic').offsetWidth*.6)) +"px";
	    document.getElementById('verb_info').style.top=(pos[1]+div.offsetHeight-300) +"px";
	}
	function getPos(el) {
	    // yay readability
	    for (var lx=0, ly=0;
	         el != null;
	         lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent);
	//    return {x: lx,y: ly};
		return[lx,ly];
	//alert(lx,ly);
	}

function return_mood(div,arg){
	div.title=mood[arg];
}
// function return_tense(div,arg){
// 	div.title=tense[arg];
// }
// 
// function return_tense_type(div,arg){
// 	div.title=tense_type[arg];
// 
// }

function display_verbs(value){
	document.getElementById('verbs_div').innerHTML="<h3>loading verbs...</h3>";	
	document.getElementById('verb_tense').value=value;
//	document.getElementById('verb_button').focus();
	document.getElementById('verb_button').click();                     
}

function highlight_mood(div){
	document.getElementById('tenses_div').innerHTML="<h3>loading tenses...</h3>";
	document.getElementById('instruction2').style.visibility="visible";
	document.getElementById('verbs_div').innerHTML="";
	document.getElementById('results_div').innerHTML="";


	document.getElementById('mood_explination').innerHTML=mood_des[div.innerHTML];
	child_divs = document.getElementById("moods").childNodes;
	for(var i = 0; i < child_divs.length; i++){
	 if (child_divs[i].nodeType==1){child_divs[i].style.color="black";}
	}
	div.style.color="blue";
	document.getElementById('tense_mood').value=div.innerHTML;
	document.getElementById('verb_mood').value=div.innerHTML;
	document.getElementById('verb').value="";

//	document.getElementById('mood_button').focus();
	document.getElementById('mood_button').click();

}
function display_results(value){
	document.getElementById('language').selectedIndex=0;
	document.getElementById('search').value=value;
//	document.getElementById('results_button').focus();
	document.getElementById('results_button').click();                     
}

function display_movie(value){
	document.getElementById('movie').value=value;
	document.getElementById('movie_button').click();                     
}

function find_one_verb(verb_one){
	document.getElementById('verb').value=verb_one;
//	document.getElementById('verb_button').focus();
	document.getElementById('verb_button').click();
}

</script>

<div id="container" style="width:90%;">

	<div id="top_container" style="position:absolute;width:90%; ">
		<div id="search_container" style="position:absolute;display:inline;left:570px;">
		<%if !params[:hide_search] then%>
			<p>
			<% form_tag results_path,:name=>"results_form",:id=>'results_form', :method=>:get, :remote=>true do%>
				<%= select_tag "language", options_for_select([["Spanish","Spa"], ["English","Eng"]], @choice) %>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :id=>"results_button",:name => 'results_button',:style=>"display:inline;" %>
			</p>
			<%end%>
	    <%end%>
		</div end="search_container">

		<% form_tag results_path,:name=>"movie_form",:id=>'movie_form', :method=>:get, :remote=>true do%>
			<%= hidden_field_tag :movie,params[:movie] %>
			<%= submit_tag "movie_search", :id=>"movie_button",:name => 'movies_button',:style=>"display:none;" %>
		<%end%>


		
		<div id="mood_explination" style="position:absolute;display:inline;left:300px;top:100px;inline; width:400px;">
	   		<div id="instruction1" style="">Complement your Spanish studies by listening to audio clips with transcriptions and translations.
		<br><br>Begin by clicking a mood to the left.
				<p style="font-size:9pt;">(In some cases this tool mistakes a noun for a verb or mistakes a tense. Imperativo is especially slippery.) 
				</p>
			</div end="instruction1">
		</div end="mood_explanation">
		<div id ="moods" style="position:absolute;display:inline;" >
			<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Verboide</h2>
			<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Indicativo</h2>
			<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Imperativo</h2>
			<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Condicional</h2>
			<h2 onClick="mood = this.innerHTML;highlight_mood(this);">Subjuntivo</h2>
		</div end="moods">
	</div end="top_container">

	<div style="position:relative;top:200px;">
		<div id="instruction2" style="position:relative;visibility:hidden;left:200px;top 10px;" >Click on a tense to see the verbs!
		</div end="instruction2">

<% form_tag tenses_path,:name=>"tense_form",:id=>'tense_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :tense_mood, params[:mood]%>
	<%= submit_tag "Search", :id=>"mood_button",:name => 'mood_button',:style=>"display:none;" %>
<%end%>

<% form_tag verbs_path,:name=>"verb_form",:id=>'verb_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :verb_mood, params[:mood]%>
	<%=hidden_field_tag :verb_tense, params[:tense]%>
	<%=hidden_field_tag :verb, params[:verb]%>

	<%= submit_tag "Search", :id=>"verb_button",:name => 'verb_button',:style=>"display:none;" %>
<%end%>

<!-- <% form_tag results_path,:name=>"results_form",:id=>'results_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :search, params[:search]%>
	<%= submit_tag "Search", :id=>"results_button",:name => 'results_button',:style=>"display:none;" %>
<%end%> -->

<% form_tag cap_path,:name=>"cap_form",:id=>'cap_form', :method=>:get, :remote=>true do%>
	<%=hidden_field_tag :direction%>
	<%=hidden_field_tag :num%>
	<%=hidden_field_tag :url%>
	<%=hidden_field_tag :id%>
	<%= submit_tag "Search", :id=>"cap_button",:name => 'cap_button',:style=>"display:none;" %>
<%end%>


		<div id="tenses_div" style="position:relative;">
		<%= render :partial => "verbs/tenses", :object => @tenses  %>
		</div end="tenses_div">
<br>
<br>
<br>
		<div id="verbs_div" style="position:relative;display:inline;float:left;height:400px;overflow:auto;width:200px">
	<%= render :partial => "verbs/verbs", :object => @verbs  %>
		</div end="verbs_div">
	
		<div id ="results_div" style="position:relative;display:inline;float:right;width:70%;">
	<%= render :partial => "caps/results", :object => @caps  %>
		</div end="results_div">

	</div end="top_container">
</div end="container">

