    <%#= javascript_include_tag  "jquery.ui.stars.js"%>
<div id="<%=@cap.id%>_rating_div" style="display:inline;">
		<%rated_number= @rate_default || 3%>

<div id="rate_container"  style="display:inline;">
	<h5 style="display:inline;">Please if audio is poor.</h5>

<% form_tag ratings_path,:name=>"rating_form",:id=>'rating_form', :style=>"display:inline;",:onClick=>"document.getElementById('#{@cap.id}_rating_button').click();",:method=>:get, :remote=>true do |f|%>
    <% 1.upto(1) do |value| %>
  <%= star_button f, @cap, value, (value==rated_number) %>
    <% end %>


	<!-- <input class="star" id="rating_<%=@cap.id%>_1" name="rating[<%=@cap.id%>]" type="radio" title="throw me out!" value="1">
	<input class="star" id="rating_<%=@cap.id%>_2" name="rating[<%=@cap.id%>]" type="radio" title="unclear but still useful" value="2">
	<input class="star" id="rating_<%=@cap.id%>_3" name="rating[<%=@cap.id%>]" type="radio" title="I'm good" value="3">
	<input class="star" id="rating_<%=@cap.id%>_4" name="rating[<%=@cap.id%>]" type="radio" title="I'm clear and awesome!" value="4"> -->

    <%= hidden_field_tag("cap_id", @cap.id) %>
	<%= submit_tag "Search", :id=>"#{@cap.id}_rating_button",:name => 'rating_button',:style=>"display:none;" %>
  <% end %>
  <!-- Rating: <%#= @cap.average_rating %> -->
</div end="rate_container"></div end="<%=@cap.id%>_rating_div">


