<%@cap=cap if cap%>

	<div id="previous" onClick='go_to(<%=@cap.id%>,<%=@cap.num%>,"<%=@cap.url%>","back",this);' title="view previous clip." style="cursor:pointer;position:relative;display:inline;font-size:8pt;">previous clip
		</div>
			<%@cap.source2=@cap.source2.gsub(" ",".")%>
			<audio src="http://www.mikefab.com/ogg/<%=@cap.source%>/<%=@cap.url%>/<%= @cap.num %>_<%= @cap.url  %>.ogg"  style="position:relative;z-index:0;" controls preload="auto" autobuffer></audio>

<div id="next" onClick="go_to(<%=@cap.id%>,<%=@cap.num%>,'<%=@cap.url%>','next',this);" title="view next clip." style="cursor:pointer;position:relative;display:inline;font-size:8pt;">next clip</div><br><br>
	<%counter=0%>



    <%@cap.spa.split(/\s+/).each do |w|%>
<%thing="#{@cap.id}-#{counter}"%>
	<span id="<%=@cap.id%>-<%=counter%>_basic" onmouseover="light_up('<%=@cap.id%>-<%=counter%>',this);" onmouseout="darken('<%=@cap.id%>-<%=counter%>');">
<%if @hash_id[thing] then%>
<u><a href='#' onClick="display_results('<%=w.gsub(/[\.,\!\?'"]/,"")%>');"><%=w%></a></span></u>

	<span id="<%=@cap.id%>-<%=counter%>" style="position:fixed;z-index:2;background-color:yellow;display:none;" onmouseover="this.style.display='inline';" onmouseout="this.style.display='none';">
	<br>verb: <div onClick="find_one_verb(this.innerHTML);" style="cursor:pointer;display:inline;"><%= @hash_id[thing].verb%></div><div style="font-size:8pt;display:inline;"> <-- Click this!</div>
	<br>eng: <%=@english["#{@hash_id[thing].verb}"]%>
	<br>tense:<a href=""        onmouseover="return_tense(this,'<%=@hash_id[thing].tense%>');"><%=@hash_id[thing].tense%></a>
	<br>mood:  <a href=""       onmouseover="return_mood(this,'<%=@hash_id[thing].mood%>');"><%=@hash_id[thing].mood%></a>
	<br>tense type:  <a href="" onmouseover="return_tense_type(this,'<%=@hash_id[thing].tense_type%>');"><%=@hash_id[thing].tense_type%></a>
	<br>pronoun: <a href=""> <%=@hash_id[thing].pro%></a>
		</span>
	<%else%>
	<a href='#' onClick="display_results('<%=w.gsub(/[\.,\!\?'"]/,"")%>');"><%=w%></a></span>
	
 	<%end%>
	<%counter=counter+1%>
	<%end%>
	
<br>
	<div id="<%=@cap.id%>_text" ><%=@cap.eng%></div>
<br>
<div id="<%=@cap.id%>_notice"></div>
<br>

<div>
	<div style="position:relative;display:inline;">
	<%= render :partial => "ratings/rating", :object => @cap  %>
	</div>
	<div id="<%=@cap.id%>_edit" onClick="soft_edit(<%=@cap.id%>,this);" style="position:relative;display:inline;left:200px;top:-30px;">edit</div>

	<div style="position:relative;display:inline;left:170px;">
	<%if @cap.source.match(/movies/i)%>
	source: movies
	<%else%>
	source: <a href="http://www.<%=@cap.source%>.com"><%=@cap.source%>.com</a>
	<%end%>
</div>
	<!-- <div id="edit_div">
		<%#= render :partial => "caps/edit", :object => @cap  %>
	</div> -->
	<div style="position:relative;left:200px;display:inline;"><%#= link_to 'Edit', edit_cap_path(cap) %>
		<div style="display:inline;" title="Removes all clips in database from same video" ><%#= link_to 'remove all', hide_all_cap_path(@cap), :confirm => 'Are you sure?'  %></div> 
		<!-- <div style="display:inline;" >Edit<%#= link_to 'edit', hide_all_cap_path(@cap), :confirm => 'Are you sure?'  %></div>  -->

	</div>
</div>