<%= form_for(@cap) do |f| %>
  <% if @cap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cap.errors.count, "error") %> prohibited this cap from being saved:</h2>

      <ul>
      <% @cap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num %><br />
    <%= f.text_field :num %>
  </div>
  <div class="field">
    <%= f.label :spa %><br />
    <%= f.text_field :spa %>
  </div>
  <div class="field">
    <%= f.label :eng %><br />
    <%= f.text_field :eng %>
  </div>
  <div class="field">
    <%= f.label :por %><br />
    <%= f.text_field :por %>
  </div>
  <div class="field">
    <%= f.label :rus %><br />
    <%= f.text_field :rus %>
  </div>
  <div class="field">
    <%= f.label :man %><br />
    <%= f.text_field :man %>
  </div>
  <div class="field">
    <%= f.label :fre %><br />
    <%= f.text_field :fre %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :stop %><br />
    <%= f.text_field :stop %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </div>
  <div class="field">
    <%= f.label :wcount %><br />
    <%= f.text_field :wcount %>
  </div>
  <div class="field">
    <%= f.label :ccount %><br />
    <%= f.text_field :ccount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
