 <%= javascript_include_tag "pagination.js" %>
<%if @caps%>
<div id="search" style="display:inline;">


<script>
	mood= new Array();
	mood["Subjuntivo"]="Used to express everything except certainty and objectivity.";
	mood["Indicativo"]="The verb mood used in ordinary, typical speech when making statements.";
	mood["Condicional"]="The verb mood used in ordinary, typical speech when making statements.";
	mood["Imperitivo"]="imperitive";


	tense= new Array();
	tense["futuro simple"] ="future."
	tense["futuro perfecto"] ="The future perfect is formed by combining the auxiliary verb 'haber' with the past participle. habré, habrás, habrá, habremos, habréis, habrán. (yo) Habré escrito el libro antes del año nuevo. I will have written the book before the new year. "
	tense["imperfecto"]="The imperfect tense is used to refer to actions in the past that occurred repeatedly.";
	tense["pluscuamperfecto"] = "The Spanish pluperfect (aka past perfect) is used to indicate an action in the past that occurred before another action in the past. The latter can be either mentioned in the same sentence or implied. Ya había salido (cuando tú llamaste). I had already left (when you called)."
	tense["presente"]="Present";
	tense["preterito perfecto"] = "The Spanish present perfect is used just like its English counterpart: to express that something has happened at some point before now, at an unspecified time in the past.";

	tense_type=new Array();
	tense["Tiempos compuestos"]="Present";
	tense["Tiempos simples"] = ""


	function return_mood(div,arg){
		div.title=mood[arg];
	}
	function return_tense(div,arg){
		div.title=tense[arg];
	}

	function return_tense_type(div,arg){
		div.title=tense_type[arg];

	}

	function go_to(id,num,url,direction){
		document.getElementById('direction').value=direction;
		document.getElementById('url').value=url;
		document.getElementById('num').value=num;
		document.getElementById('id').value=id;
		document.getElementById('single_button').focus();
		document.getElementById('single_button').click();

	}




	function darken(id){

	  if(document.getElementById(id)){
		document.getElementById(id).style.display='none';	

	  }		
	}
	function light_up(id,div){
	  if(document.getElementById(id)){

		var pos = getPos(div);
		document.getElementById(id).style.display='inline';	
	    document.getElementById(id).style.left=(pos[0]+(document.getElementById(id+'_basic').offsetWidth*.6)) +"px";
	    document.getElementById(id).style.top=(pos[1]+document.getElementById(id+'_basic').offsetHeight) +"px";

	  }
	}

	function getPos(el) {
	    // yay readability
	    for (var lx=0, ly=0;
	         el != null;
	         lx += el.offsetLeft, ly += el.offsetTop, el = el.offsetParent);
	//    return {x: lx,y: ly};
		return[lx,ly];
	//alert(lx,ly);
	}



</script>

<% c=0 %>
<% @caps.each do |single| %>
<%c=c+1%>

<div id="container_<%=c%>">
	<%= render :partial => "caps/single", :object => single  %>

</div>
<br><br>

<% end %>

<br />
<%= will_paginate @caps, :remote=>true %>
<%= page_entries_info @caps %> 
<%#= link_to 'New Cap', new_cap_path %>
<%end%>