<h1>Listing captions</h1>

<% form_tag caps_path, :method=> 'get' do %>
	<p>
		<%= select_tag "language", options_for_select([ "Spa", "Eng"], @choice) %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name=>nil %>
	</p>
<%end%>
<table>
  <tr>
<!--
	<th>Id</th>
    

<th>Num</th>
-->
	<th></th>
    <th>Spanish</th>
    <th>English</th>
<!--
    <th>Por</th>
    <th>Rus</th>
    <th>Man</th>
    <th>Fre</th>

    <th>Start</th>
    <th>Stop</th>
   
--> 
<th></th>
<th></th>

	<!--
<th>Url</th>
    <th>Lang</th>
    <th>Wcount</th>
    <th>Ccount</th>

    <th></th>
    <th></th>
    <th></th>
-->
   <th></th>
  </tr>
<% c=0 %>
<% @caps.each do |cap| %>
<%c=c+1%>
  <tr>
<!--
	<td><%= cap.id %></td>

-->
<!--	<td><audio src="http://www.mikefab.com/mp3/2641baee-e0ad-4eee-a0ce-cb4696a2b84e/05_2641baee-e0ad-4eee-a0ce-cb4696a2b84e.mp3" controls preload="auto" autobuffer></audio></td>
   <td><%= cap.num %></td>
-->

	<td>
		<%# if FileTest.exists?(RAILS_ROOT + "/public/audio/spa/#{cap.url}/#{cap.num}_#{cap.url}.mp3")==true%> 
		<%# if FileTest.exists?("http://www.mikefab.com/spa/#{cap.url}/#{cap.num}_#{cap.url}.mp3")==true%> 

		<audio src="http://www.mikefab.com/ogg/spa/<%=cap.url%>/<%= cap.num %>_<%= cap.url %>.ogg" controls preload="auto" autobuffer></audio>
		<!-- <audio id="player<%=c%>" src="/ogg/spa/<%=cap.url%>/<%= cap.num %>_<%= cap.url %>.ogg" onClick="#document.getElementById('player<%=c%>').src='/ogg/spa/<%=cap.url%>/<%= cap.num %>_<%= cap.url %>.ogg';" controls preload="auto" onClick="alert('hi')";loop="loop"></audio> -->
		<!-- <button onClick="document.getElementById('player<%=c%>').src='/audio/spa/<%=cap.url%>/<%= cap.num %>_<%= cap.url %>.mp3';document.getElementById('player<%=c%>').play();"> Listen  </button> -->
<!---->
	<%# end %>	
	</td>
 
    <td><%= cap.spa %></td>
    <td><%= cap.eng %></td>
<!--
    <td><%= cap.por %></td>
    <td><%= cap.rus %></td>
    <td><%= cap.man %></td>
    <td><%= cap.fre %></td>

    <td><%= cap.start %></td>
    <td><%= cap.stop %></td>

-->

<!--
<td><%= cap.url %></td>    
    <td><%= cap.lang %></td>
    <td><%= cap.wcount %></td>
    <td><%= cap.ccount %></td>

    <td><%= link_to 'Show', cap %></td>
    <td><%= link_to 'Edit', edit_cap_path(cap) %></td>
    <td><%= link_to 'Destroy', cap, :confirm => 'Are you sure?', :method => :delete %></td>

-->

    <td style="width:60px;font-size:8pt;" title="Removes just this file."><%= link_to 'remove',hide_cap_path(cap), :confirm => 'Are you sure?' %></td>
    <td style="width:100px;font-size:8pt;" title="Removes all clips in database from same video"><%= link_to 'remove all', hide_all_cap_path(cap), :confirm => 'Are you sure?'  %></td>

  </tr>
<% end %>
</table>

<br />
<%= will_paginate @caps %>
<%= page_entries_info @caps %> 
<%#= link_to 'New Cap', new_cap_path %>
