<p id="notice"><%= notice %></p>

<p>
  <b>Num:</b>
  <%= @cap.num %>
</p>

<p>
  <b>Spa:</b>
  <%= @cap.spa %>
</p>

<p>
  <b>Eng:</b>
  <%= @cap.eng %>
</p>

<p>
  <b>Por:</b>
  <%= @cap.por %>
</p>

<p>
  <b>Rus:</b>
  <%= @cap.rus %>
</p>

<p>
  <b>Man:</b>
  <%= @cap.man %>
</p>

<p>
  <b>Fre:</b>
  <%= @cap.fre %>
</p>

<p>
  <b>Start:</b>
  <%= @cap.start %>
</p>

<p>
  <b>Stop:</b>
  <%= @cap.stop %>
</p>

<p>
  <b>Url:</b>
  <%= @cap.url %>
</p>

<p>
  <b>Lang:</b>
  <%= @cap.lang %>
</p>

<p>
  <b>Wcount:</b>
  <%= @cap.wcount %>
</p>

<p>
  <b>Ccount:</b>
  <%= @cap.ccount %>
</p>


<%= link_to 'Edit', edit_cap_path(@cap) %> |
<%= link_to 'Back', caps_path %>
