<h1>Listing softs</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Cap</th>
    <th>Lang</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @softs.each do |soft| %>
  <tr>
    <td><%= soft.cap.eng %><br><%= soft.cap.spa %><br><%= soft.text %></td>
    <td></td>
    <td><%= soft.lang %></td>
    <td><%= soft.user_id %></td>
    <td><%#= link_to 'Correct', correct_soft_path(soft) %></td>
    <td><%= link_to 'Edit', edit_soft_path(soft) %></td>
    <td><%= link_to 'Correct', softs_correct_path(:id=>soft.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Soft', new_soft_path %>
