<!DOCTYPE html>
<html>
<head>
  <title>AudioVerb - Spanish Audio Clips with Transcriptions & Translations</title>

<meta name="description=" content="Listen to Spanish sentences online. AudioVerb.com is virtual Spanish language immersion. It serves Spanish language audio clips for practicing listening comprehension. All clips are accompanied by transcriptions and English translations. It's an online database of Spanish sentences.">
  <%= stylesheet_link_tag :all %>
    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails.js" %>
    <%= javascript_include_tag "jquery.js", "rails.js"%>

  <%= csrf_meta_tag %>
  <!-- <nav class="round">
    <ul>
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav> -->


<script>

</script>
</head>
  

<body  style="background-color:white;width:90%;">

	<div class="wrapper">
	
<div style="position:relative;dislay:inline;">	<%=flash[:notice]%></div>
<div style="position:relative;dislay:inline;">	<%=flash[:error]%></div>

	<% if request.env['HTTP_USER_AGENT'].match(/ie/i) then%> 
	<div id="browser_warning" style="position:absolute;font-size:8pt;">This site works best in Chrome, Firefox, and Safari.</div end="browser_warning">
	<%end%>

	<% if params[:action]=="index"%>

	<!-- <div style="position:absolute;top:50px;left:300px; background-image: url(images/logo_base.jpg);width:195px;height:20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	padding: 10px;" >
	</div> -->
	<img id="logo" style="position:relative;top:50px;left:280px;" src="images/logo_base.jpg"/>

<h5 style="position:absolute;top:30px;left:890px;"><ul><li><%= link_to 'About', about_path %></li></ul></h5>



<%else%>
<img style="position:relative;left:550px;" src="images/logo_base.jpg"/>

<h5 style="position:relative;left:700px;"><%= link_to 'Home', home_path %></h5>
<%end%>
<br>
<%= yield %>


<div class="push"></div>


</div>
 
    
    <!-- <div id="footer"  >

  	</div> -->
  
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5429321-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
