<!DOCTYPE html>
<html>
<head>
  <title>AudioVerb - Spanish Audio Clips</title>

<meta name="description=" content="Listen to Spanish sentences online. AudioVerb.com is virtual Spanish language immersion. It serves Spanish language audio clips for practicing listening comprehension. All clips are accompanied by transcriptions and English translations. It's an online database of Spanish sentences.">
  <%= stylesheet_link_tag :all %>
    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails.js" %>
    <%= javascript_include_tag "jquery.js", "rails.js"%>

  <%= csrf_meta_tag %>
  <!-- <nav class="round">
    <ul>
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav> -->
</head>


<body style="width:90%;">
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAudioVerbcom%2F243504829009599&amp;width=180&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="position:absolute;border:none; overflow:hidden; width:180px; height:62px;left:750px;top:100px;" allowTransparency="true"></iframe>
<div style="position:relative;dislay:inline;">	<%=flash[:notice]%></div>
<div style="position:relative;dislay:inline;">	<%=flash[:error]%></div>

	<% if request.env['HTTP_USER_AGENT'].match(/ie/i) then%> 
	<div id="browser_warning" style="position:absolute">This site works best in Chrome, Firefox, and Safari.<br>Explorer is limited. Working on it. </div end="browser_warning">
	<%end%>

	<% if params[:action]=="index"%>
	<img style="position:relative;top:50px;left:300px;" src="images/logo_base.jpg"/>

<h5 style="position:absolute;left:870px;"><%= link_to 'About', about_path %></h5>
<div id="movies"   style="z-index:2;position:absolute;left:920px;top:26px;display:inline;">
		<h5 id="demo4" style="cursor:pointer;display:inline;">Movies</h5> 
		<table>
		<%@movies.each do |m|%>
				<tr><td width="50px">
					<img onClick="display_movie('<%=m.title.gsub(/\s+/,".")%>');" style="width:80%;cursor:pointer" src="images/<%=m.title.gsub(/\s+/,".").downcase%>_small.jpg">
				</td>
			    <td>
				<div onClick="display_movie('<%=m.title.gsub(/\s+/,".")%>');" style="cursor:pointer"><%=m.title%><br><i><%=m.origin%></i></div>
				</td></tr>
		<%end%>
	</tr></table>
</div end="movies">


<%else%>
<img style="position:relative;left:550px;" src="images/logo_base.jpg"/>

<h5 style="position:relative;left:700px;"><%= link_to 'Home', home_path %></h5>
<%end%>
<br>
<%= yield %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5429321-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</body>
</html>
