<!DOCTYPE html>
<html>
<head>
  <title>AudioVerb - Spanish Audio Clips</title>

<meta name="description=" content="AudioVerb serves Spanish language videos clips for practicing listening comprehension. It's an online database of Spanish sentences with transcriptions and translations.">
  <%= stylesheet_link_tag :all %>
    <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails.js" %>
    <%= javascript_include_tag "jquery.js", "rails.js"%>

  <%= csrf_meta_tag %>
</head>
<body style="width:90%;">
	<% if params[:action]=="index"%>
	<img style="position:relative;top:50px;left:300px;" src="images/logo_base.jpg"/>

<h5 style="position:relative;float:right;"><%= link_to 'About', about_path %></h5>
<%else%>
<img style="position:relative;left:550px;" src="images/logo_base.jpg"/>

<h5 style="position:relative;float:right;"><%= link_to 'Home', home_path %></h5>
<%end%>
<br>
<%= yield %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5429321-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
